@import "../../style/color";

.aside-view {
  height: calc(100vh - 54px);
  display: flex;

  .aside {
    background-color: @dark-color;
    width: 280px;
    visibility: visible;
    transition: all .2s linear;
    position: relative;

    &.hide-aside {
      width: 60px;
    }

    .toggle {
      top: 30%;
      right: -11px;
      position: absolute;
      line-height: 60px;
      width: 20px;
      text-align: center;
      color: white;
      font-size: 14px;
      cursor: pointer;
      background-color: @dark-color;
      transition: all 0.2s linear;
      font-weight: bold;
      border-radius: 18px;

      &:hover {
        opacity: .9;
      }
    }
  }

  .view {
    flex: 1;
    background: white;
    overflow-wrap: normal;

    .view-content {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }
}
